<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-doList</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body style="background: url('/img/error404.png') no-repeat center center fixed; background-size: cover; color: white;">

    <div class="container">

        <div class="row py-5">

            <div class="py-5 text-center">
                <label style="font-size: 250%; color: brown;">Not Fond</label>
            </div>

            <div class=" text-center">
                <h1 class="display-1" style="color: aliceblue;">404</h1>
            </div>

            <div class="col-12 text-center">
                <p style="color: aliceblue;" class="py-3"><mark>Pagina no encontrada y/o pagina no existente</mark></p>
            </div>

            <div class="col-12 text-center">
                <a class="btn btn-outline-warning" th:href="@{/inicio}">Vuelve a Login</a>
            </div>
        </div>


    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>